#root {
  min-width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  text-align: left;
  flex: 1;
  place-items: start;
}

#map {
  width:auto;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.map-data-card {
  left: 1rem;
  right: 1rem;
  padding: 0em;
  width: auto;
  max-width: calc(100% - 2rem);
  height: auto;
}

.carousel-item img {
  height: 600px;
  width: 100%;
  object-fit: cover;
}

@media (min-width: 768px) {
  .carousel-item img { height: 400px; }
  .map-data-card {
    left: 1rem;
    right: auto;
    width: 320px;
  }
}

@media (min-width: 1200px) {
  .carousel-item img { height: 700px; }
  .map-data-card {
    left: 5rem;
  }
}
